@use "../base/base";

footer {
    display: flex;
    height: 6vh;
    background-color: base.$primary-color;
    color: base.$text-color;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
        font-size: 1.1rem;
    }
}


@media (prefers-color-scheme: dark) {

    footer {
        background-color: base.$primary-color-darkm;
    }

}