@use "../base/normalize";
@use "../base/base";
@use "../components/components";

body {
    min-height: 100vh;
    background-color: base.$bgcolor-main;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;


    #mapWrapper {
        margin: 0 auto;
    }

    #map {
        height: 400px;
        width: 80%;
        margin: 50px auto;
    }

    .result-item {
        cursor: pointer;
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }

    .result-item:hover {
        background-color: #f0f0f0;
    }

    h1 {
        @include components.h1-title();
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        @include components.h2-title();
        display: flex;
        align-items: center;
    }


    p {
        @include components.text();
    }
}


@media (min-width: 768px) {}

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$bgcolor-main-darkm;
    }

}

@media (prefers-color-scheme: light) {}