@use "../base/normalize";
@use "../base/base";
@use "../components/components";
@use "../components/animations";

body {
    height: 100%;
    min-height: 100vh;
    background-image: url(../background2.png);
    background-size: cover;
    font-family: base.$font-stack;
}


main {
    display: grid;
    place-items: center;
    max-width: 1200px;
    min-height: 100vh;
    background-color: base.$bgcolor-main;
    margin: 0 auto;

    p {
        @include components.text();
        margin: 5px;
    }

    #intro {
        padding: 50px 0;
        text-align: center;

        h1 {
            @include components.h1-title();
            width: 100%;
        }

        p {
            margin-top: 15px;
        }
    }

    #mapWrapper {
        margin: 0 auto;
        text-align: center;
    }

    #compass img {
        width: 100px;
    }

    .compass-spin {
        animation: spin 2s linear infinite;
    }

    #addressForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        margin: 20px auto 30px auto;
    }

    #inputText {
        width: 90%;
        height: 35px;
        margin: 10px;
        padding: 0 5px;
        font-size: 18px;
    }

    #buttonWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #submitButton,
    #clearButton {
        height: 30px;
        margin: 5px 10px;
        padding: 0 5px;
        font-size: 18px;
        cursor: pointer;
    }

    #submitButton:hover,
    #clearButton:hover {
        box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.25);
    }

    .result-item {
        width: 100%;
        max-width: 350px;
        margin: 10px auto;
        padding: 5px;
        list-style-type: none;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        cursor: pointer;
    }

    .result-item:hover {
        background-color: #f0f0f0;
    }

    #map {
        height: 400px;
        width: 80%;
        margin: 50px auto;
    }

    #articleWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .wikiArticle {
        max-width: 340px;
        width: 100%;
        margin: 20px;
        padding: 5px;
        border: 1px solid grey;
        border-radius: 10px;
        transition: transform 0.3s ease;

        img {
            display: block;
            margin: 5px auto;
            padding: 5px;
            border-radius: 10px;
        }

        a {
            text-decoration: none;
            color: base.$text-color;
        }

        h2 {
            text-decoration: underline;
            color: blue;
            text-align: center;
        }

    }

    .wikiArticle:hover {
        transform: scale(1.07);
        box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.25);
    }

}


@media (min-width: 768px) {

    main {

        #addressForm {
            flex-direction: row;
            justify-content: center;
        }

        #inputText,
        #buttonWrapper {
            margin: 0 5px;
        }

        #buttonWrapper {
            width: auto;
            justify-content: center;
        }

        .wikiArticle {
            margin-top: 10px;
            margin-bottom: 50px;
        }

    }

}