@use "../base/base";

//knappar, styling på länkar, bakgrundsbilder osv.

//Styling på h1-rubriker
@mixin h1-title() {
    margin: 0;
    font-family: base.$font-stack;
    font-size: 2.2rem;
    text-align: center;
}

//Styling text
@mixin text() {
    font-family: base.$font-stack;
    font-size: 1.1rem;
    line-height: 1.3rem;
}
